<div
  nz-row nzType="flex"
  nzJustify="space-around"
  *ngFor="let week of billsDays">
    <div
      *ngFor="let day of week.days"
      nz-col
      nzXs="8"
      nzSm="3"
      [className]="day.showAsDay ? 'cal-day' : 'cal-day'"
      (click)="dayClicked(day.Date)"
    >
      <span *ngIf="day.Month" class="month-name">{{ day.Month }} - </span><span style="font-weight: bold">{{ day.Day }}</span>
      <app-expense
        [expenses]="day.desc"
      ></app-expense>
      <div style="clear:both; height: 4px"></div>
    </div>
</div>
